.lazy-google-maps-canvas {
    display: block;
    height: 500px;
}

.lazy-google-maps-search {
    width: 50%;
    -webkit-appearance: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0 2px 6px 0;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0 2px 6px 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: auto;
    display: block;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    height: 32px;
    left: 0;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 0;
    margin-left: 12px;
    margin-right: 0;
    margin-top: 16px;
    outline-color: rgb(0, 0, 0);
    outline-style: none;
    outline-width: 0;
    padding-bottom: 0;
    padding-left: 13px;
    padding-right: 11px;
    padding-top: 0;
    position: absolute;
    text-align: start;
    text-indent: 0;
    text-overflow: ellipsis;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    top: 0;
    word-spacing: 0;
    z-index: 0;
}